<header>
    <div>
        <a href="/"><h2>Movie Library</h2></a>
    </div>
    <br>
    <nav>
        <ul>
            <li><a href="/movies">All Movies</a></li>
            <li><a href="/movies/new">New Movie</a></li>
            <li><a href="/directors">All Directors</a></li>
            <li><a href="/directors/new">New Director</a></li>
            <li><a href="/actors">All actors</a></li>
            <li><a href="/actors/new">New actor</a></li>
        </ul>
    </nav>
</header>